\documentclass{ {{ document_class }} }
\input{preamble}
\title{ {{ title }} }
\author{ {{ author }} }
\date{ {{ date }} }
\begin{document}
\maketitle
% Placeholder Nature template body.
{{ section_inputs }}
\bibliographystyle{ {{ bibliography_style }} }
\bibliography{ {{ bibliography_file }} }
\end{document}
