\documentclass{article}
\usepackage[utf8]{inputenc}
\usepackage[T1]{fontenc}
\title{{ title }}
\author{{ author }}
\begin{document}
\maketitle
\tableofcontents
\newpage
{{ section_inputs }}
\end{document}
